header {
    height: 50px;
    background: lavender;
    border-radius: 10px;
    border: 1px solid cornflowerblue;
    padding-left: 35px;
    display: flex;
    column-gap: 30px;
    align-items: center;
}

header a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
.done {
    text-decoration: line-through;
}
.content {
    border-radius: 10px;
    background: lavender;
    border: 1px solid blueviolet;
    margin: 10px 20px;
    padding: 13px 0 13px 10px;
}
input {
    border-radius: 4px;
    border: none;
}
button {
    border-radius: 6px;
    border: none;
    background: azure;
}
button:active {
    background: blueviolet;
}